{package_name, "automator"}.
{package_install_name, "automator"}.
{package_install_user, "automator"}.
{package_install_group, "automator"}.
{package_install_user_desc, "automator user"}.
{package_shortdesc, "Tranlator for simpler automation"}.
{package_desc, "Tranlator for simpler automation"}.
{package_commands, {list, [[{name, "automator"}]]}}.
{package_patch_dir, "patches"}.
{bin_or_sbin, "bin"}.
{license_type, ""}.
{copyright, "2014 Leonidas Loucas"}.
{vendor_name, "Leonidas Loucas"}.
{vendor_url, ""}.
{vendor_contact_name, ""}.
{vendor_contact_email, ""}.
{license_full_text, ""}.
{solaris_pkgname, "AUTOMATORautomator"}.
