{sub_dirs, [
    "deps",
    "automator",
    "rel"
]}.

{erl_opts, [debug_info, warnings_as_errors]}.
{require_otp_vsn, "17"}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", "develop"}},
    {node_package, ".*", {git, "git://github.com/basho/node_package.git", "master"}}
]}.
