%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps", "../automator"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "automator", "0.3.2",
        [
         kernel,
         stdlib,
         sasl,
         inets,
         cowlib,
         ranch,
         cowboy,
         serial,
         {ext_devices, load},
         device,
         automator
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "automator"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, automator, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "automator"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "log"},
           {mkdir, "data/automator"},
           {mkdir, "etc"},

           {copy, "../deps/node_package/priv/base/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "../deps/node_package/priv/base/runner", "bin/automator"},
           {template, "../deps/node_package/priv/base/env.sh", "lib/env.sh"},
           {template, "../deps/node_package/priv/base/app_epath.sh", "lib/app_epath.sh"},

%           {template, "files/app.config", "etc/app.config"},
%           {template, "files/vm.args", "etc/vm.args"},
%           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
%           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
%           {copy, "automator/bin/start_clean.boot",
%                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
%           {copy, "files/automator", "bin/automator"},
%           {copy, "files/automator.cmd", "bin/automator.cmd"},
%           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
%           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
%           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
%           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},

           {copy, "../deps/cuttlefish/cuttlefish", "{{erts_vsn}}/bin/cuttlefish"},

           {template, "files/automator.schema", "lib/10-automator.schema"},
           {template, "../deps/cuttlefish/priv/erlang_vm.schema", "lib/11-erlang_vm.schema"},
           {template, "../automator/automator/priv/automator.schema", "lib/12-automator.schema"},
           {template, "../automator/ext_devices/priv/ext_devices.schema", "lib/13-ext_devices.schema"}
%           {template, "../automator/serial/priv/serial.schema", "lib/10-serial.schema"},
%           {template, "../automator/device/priv/device.schema", "lib/10-device.schema"},
%           {template, "../automator/ext_devices/priv/ext_devices.schema", "lib/10-ext_devices.schema"}
          ]}.
